In [3]:
import numpy as np
import statistics
import scipy.special
import pandas as pd

In [4]:
np_array = np.random.randint(1,10,(100))
np_array

array([2, 3, 5, 9, 3, 1, 5, 6, 2, 2, 8, 8, 9, 7, 8, 2, 2, 8, 2, 9, 3, 5,
       2, 4, 1, 6, 5, 4, 8, 1, 6, 9, 9, 1, 5, 1, 6, 6, 1, 9, 4, 5, 7, 4,
       4, 2, 6, 8, 9, 2, 8, 5, 5, 2, 6, 6, 4, 4, 1, 7, 9, 2, 3, 2, 1, 2,
       6, 9, 2, 9, 8, 9, 7, 4, 4, 7, 8, 6, 4, 2, 3, 3, 4, 9, 6, 1, 5, 1,
       2, 5, 8, 1, 1, 8, 3, 3, 7, 3, 4, 6])

In [5]:
np.median(np_array)

5.0

Aprovecho para incluir el factorial del array creado anteriormente

In [6]:
scipy.special.factorial(np_array)

array([2.0000e+00, 6.0000e+00, 1.2000e+02, 3.6288e+05, 6.0000e+00,
       1.0000e+00, 1.2000e+02, 7.2000e+02, 2.0000e+00, 2.0000e+00,
       4.0320e+04, 4.0320e+04, 3.6288e+05, 5.0400e+03, 4.0320e+04,
       2.0000e+00, 2.0000e+00, 4.0320e+04, 2.0000e+00, 3.6288e+05,
       6.0000e+00, 1.2000e+02, 2.0000e+00, 2.4000e+01, 1.0000e+00,
       7.2000e+02, 1.2000e+02, 2.4000e+01, 4.0320e+04, 1.0000e+00,
       7.2000e+02, 3.6288e+05, 3.6288e+05, 1.0000e+00, 1.2000e+02,
       1.0000e+00, 7.2000e+02, 7.2000e+02, 1.0000e+00, 3.6288e+05,
       2.4000e+01, 1.2000e+02, 5.0400e+03, 2.4000e+01, 2.4000e+01,
       2.0000e+00, 7.2000e+02, 4.0320e+04, 3.6288e+05, 2.0000e+00,
       4.0320e+04, 1.2000e+02, 1.2000e+02, 2.0000e+00, 7.2000e+02,
       7.2000e+02, 2.4000e+01, 2.4000e+01, 1.0000e+00, 5.0400e+03,
       3.6288e+05, 2.0000e+00, 6.0000e+00, 2.0000e+00, 1.0000e+00,
       2.0000e+00, 7.2000e+02, 3.6288e+05, 2.0000e+00, 3.6288e+05,
       4.0320e+04, 3.6288e+05, 5.0400e+03, 2.4000e+01, 2.4000e+01,
       5.0400e+03, 4.0320e+04, 7.2000e+02, 2.4000e+01, 2.0000e+00,
       6.0000e+00, 6.0000e+00, 2.4000e+01, 3.6288e+05, 7.2000e+02,
       1.0000e+00, 1.2000e+02, 1.0000e+00, 2.0000e+00, 1.2000e+02,
       4.0320e+04, 1.0000e+00, 1.0000e+00, 4.0320e+04, 6.0000e+00,
       6.0000e+00, 5.0400e+03, 6.0000e+00, 2.4000e+01, 7.2000e+02])

Calculando el factorial del numero ubicado en la posicion 3del arreglo

In [9]:
np_array[3]

9

In [11]:
scipy.special.factorial(np_array[3])

362880.0

Calculando el factorial de un numero generado aleatoriamente

In [13]:
random_int = np.random.randint(100)
print(random_int)
print(np.math.factorial(random_int))

11
39916800

Realizando la suma de los elementos contenidos por el arreglo creado anteriormente

In [14]:
np.sum(np_array)

479

Realizando la suma de una serie de numeros creada aleatoriamente

In [16]:
np.sum(np.random.randint(1,10,(10)))

49

In [60]:
csv = pd.read_csv('Salarios Openqube - 2020.02.csv',usecols = ["Salario mensual NETO (en tu moneda local)"])
csv

  Salario mensual NETO (en tu moneda local)
0                                     43000
1                                     63000
2                                    127000
3                                    102000
4                                    106000

In [66]:
int(csv.median())

102000

In [69]:
csv.mean()

Salario mensual NETO (en tu moneda local)    8.600126e+26
dtype: float64

Calculando el valor de la media me retorna un valor con notacion cientifica, como puedo hacer para que se vea normal, ya que si le agrego int() adelante me regresa un numero enorme