In [2]:
import pandas as pd

In [65]:
df = pd.read_csv('Summer-Olympic-medals-1976-to-2008.csv', encoding ='latin')
df

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
0,Montreal,1976.0,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,GDR,East Germany,W,Silver
1,Montreal,1976.0,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
2,Montreal,1976.0,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
3,Montreal,1976.0,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
4,Montreal,1976.0,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze
...,...,...,...,...,...,...,...,...,...,...,...
15428,Beijing,2008.0,Wrestling,Wrestling Gre-R,66 - 74kg,"GUENOT, Christophe",Men,FRA,France,M,Bronze
15429,Beijing,2008.0,Wrestling,Wrestling Gre-R,66 - 74kg,"KVIRKELIA, Manuchar",Men,GEO,Georgia,M,Gold
15430,Beijing,2008.0,Wrestling,Wrestling Gre-R,55 - 60kg,"RAHIMOV, Vitaliy",Men,AZE,Azerbaijan,M,Silver
15431,Beijing,2008.0,Wrestling,Wrestling Gre-R,60 - 66kg,"GUENOT, Steeve",Men,FRA,France,M,Gold
15432,Beijing,2008.0,Wrestling,Wrestling Gre-R,96 - 120kg,"LOPEZ, Mijain",Men,CUB,Cuba,M,Gold

Estableciendo la columna "Year" como index del DF

In [66]:
df.set_index('Year')

,City,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
Year,,,,,,,,,,
1976.0,Montreal,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,GDR,East Germany,W,Silver
1976.0,Montreal,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
1976.0,Montreal,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
1976.0,Montreal,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
1976.0,Montreal,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze
...,...,...,...,...,...,...,...,...,...,...
2008.0,Beijing,Wrestling,Wrestling Gre-R,66 - 74kg,"GUENOT, Christophe",Men,FRA,France,M,Bronze
2008.0,Beijing,Wrestling,Wrestling Gre-R,66 - 74kg,"KVIRKELIA, Manuchar",Men,GEO,Georgia,M,Gold
2008.0,Beijing,Wrestling,Wrestling Gre-R,55 - 60kg,"RAHIMOV, Vitaliy",Men,AZE,Azerbaijan,M,Silver
2008.0,Beijing,Wrestling,Wrestling Gre-R,60 - 66kg,"GUENOT, Steeve",Men,FRA,France,M,Gold
2008.0,Beijing,Wrestling,Wrestling Gre-R,96 - 120kg,"LOPEZ, Mijain",Men,CUB,Cuba,M,Gold

In [72]:
df[['Apellido', 'Nombre', 'X']] = df['Athlete'].str.split(',', expand = True)
df

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal,Apellido,Nombre,X
0,Montreal,1976.0,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,GDR,East Germany,W,Silver,KÖHLER,Christa,None
1,Montreal,1976.0,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze,KOSENKOV,Aleksandr,None
2,Montreal,1976.0,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold,BOGGS,Philip George,None
3,Montreal,1976.0,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver,CAGNOTTO,Giorgio Franco,None
4,Montreal,1976.0,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze,WILSON,Deborah Keplar,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15428,Beijing,2008.0,Wrestling,Wrestling Gre-R,66 - 74kg,"GUENOT, Christophe",Men,FRA,France,M,Bronze,GUENOT,Christophe,None
15429,Beijing,2008.0,Wrestling,Wrestling Gre-R,66 - 74kg,"KVIRKELIA, Manuchar",Men,GEO,Georgia,M,Gold,KVIRKELIA,Manuchar,None
15430,Beijing,2008.0,Wrestling,Wrestling Gre-R,55 - 60kg,"RAHIMOV, Vitaliy",Men,AZE,Azerbaijan,M,Silver,RAHIMOV,Vitaliy,None
15431,Beijing,2008.0,Wrestling,Wrestling Gre-R,60 - 66kg,"GUENOT, Steeve",Men,FRA,France,M,Gold,GUENOT,Steeve,None
15432,Beijing,2008.0,Wrestling,Wrestling Gre-R,96 - 120kg,"LOPEZ, Mijain",Men,CUB,Cuba,M,Gold,LOPEZ,Mijain,None

In [75]:
del df['X']

In [76]:
df

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal,Apellido,Nombre
0,Montreal,1976.0,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,GDR,East Germany,W,Silver,KÖHLER,Christa
1,Montreal,1976.0,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze,KOSENKOV,Aleksandr
2,Montreal,1976.0,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold,BOGGS,Philip George
3,Montreal,1976.0,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver,CAGNOTTO,Giorgio Franco
4,Montreal,1976.0,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze,WILSON,Deborah Keplar
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15428,Beijing,2008.0,Wrestling,Wrestling Gre-R,66 - 74kg,"GUENOT, Christophe",Men,FRA,France,M,Bronze,GUENOT,Christophe
15429,Beijing,2008.0,Wrestling,Wrestling Gre-R,66 - 74kg,"KVIRKELIA, Manuchar",Men,GEO,Georgia,M,Gold,KVIRKELIA,Manuchar
15430,Beijing,2008.0,Wrestling,Wrestling Gre-R,55 - 60kg,"RAHIMOV, Vitaliy",Men,AZE,Azerbaijan,M,Silver,RAHIMOV,Vitaliy
15431,Beijing,2008.0,Wrestling,Wrestling Gre-R,60 - 66kg,"GUENOT, Steeve",Men,FRA,France,M,Gold,GUENOT,Steeve
15432,Beijing,2008.0,Wrestling,Wrestling Gre-R,96 - 120kg,"LOPEZ, Mijain",Men,CUB,Cuba,M,Gold,LOPEZ,Mijain

In [77]:
del df['Athlete']

In [78]:
df

,City,Year,Sport,Discipline,Event,Gender,Country_Code,Country,Event_gender,Medal,Apellido,Nombre
0,Montreal,1976.0,Aquatics,Diving,3m springboard,Women,GDR,East Germany,W,Silver,KÖHLER,Christa
1,Montreal,1976.0,Aquatics,Diving,3m springboard,Men,URS,Soviet Union,M,Bronze,KOSENKOV,Aleksandr
2,Montreal,1976.0,Aquatics,Diving,3m springboard,Men,USA,United States,M,Gold,BOGGS,Philip George
3,Montreal,1976.0,Aquatics,Diving,3m springboard,Men,ITA,Italy,M,Silver,CAGNOTTO,Giorgio Franco
4,Montreal,1976.0,Aquatics,Diving,10m platform,Women,USA,United States,W,Bronze,WILSON,Deborah Keplar
...,...,...,...,...,...,...,...,...,...,...,...,...
15428,Beijing,2008.0,Wrestling,Wrestling Gre-R,66 - 74kg,Men,FRA,France,M,Bronze,GUENOT,Christophe
15429,Beijing,2008.0,Wrestling,Wrestling Gre-R,66 - 74kg,Men,GEO,Georgia,M,Gold,KVIRKELIA,Manuchar
15430,Beijing,2008.0,Wrestling,Wrestling Gre-R,55 - 60kg,Men,AZE,Azerbaijan,M,Silver,RAHIMOV,Vitaliy
15431,Beijing,2008.0,Wrestling,Wrestling Gre-R,60 - 66kg,Men,FRA,France,M,Gold,GUENOT,Steeve
15432,Beijing,2008.0,Wrestling,Wrestling Gre-R,96 - 120kg,Men,CUB,Cuba,M,Gold,LOPEZ,Mijain

Separando el Apellido y el Nombre de los participantes en dos columnas distintas

In [ ]:
df = df.reindex(columns=['City', 'Year', 'Sport', 'Discipline', 'Event','Apellido', 'Nombre', 'Gender', 'Country_Code', 'Country', 'Event_gender', 'Medal'])

In [82]:
df

,City,Year,Sport,Discipline,Event,Apellido,Nombre,Gender,Country_Code,Country,Event_gender,Medal
0,Montreal,1976.0,Aquatics,Diving,3m springboard,KÖHLER,Christa,Women,GDR,East Germany,W,Silver
1,Montreal,1976.0,Aquatics,Diving,3m springboard,KOSENKOV,Aleksandr,Men,URS,Soviet Union,M,Bronze
2,Montreal,1976.0,Aquatics,Diving,3m springboard,BOGGS,Philip George,Men,USA,United States,M,Gold
3,Montreal,1976.0,Aquatics,Diving,3m springboard,CAGNOTTO,Giorgio Franco,Men,ITA,Italy,M,Silver
4,Montreal,1976.0,Aquatics,Diving,10m platform,WILSON,Deborah Keplar,Women,USA,United States,W,Bronze
...,...,...,...,...,...,...,...,...,...,...,...,...
15428,Beijing,2008.0,Wrestling,Wrestling Gre-R,66 - 74kg,GUENOT,Christophe,Men,FRA,France,M,Bronze
15429,Beijing,2008.0,Wrestling,Wrestling Gre-R,66 - 74kg,KVIRKELIA,Manuchar,Men,GEO,Georgia,M,Gold
15430,Beijing,2008.0,Wrestling,Wrestling Gre-R,55 - 60kg,RAHIMOV,Vitaliy,Men,AZE,Azerbaijan,M,Silver
15431,Beijing,2008.0,Wrestling,Wrestling Gre-R,60 - 66kg,GUENOT,Steeve,Men,FRA,France,M,Gold
15432,Beijing,2008.0,Wrestling,Wrestling Gre-R,96 - 120kg,LOPEZ,Mijain,Men,CUB,Cuba,M,Gold

In [83]:
df.set_index('Year')

,City,Sport,Discipline,Event,Apellido,Nombre,Gender,Country_Code,Country,Event_gender,Medal
Year,,,,,,,,,,,
1976.0,Montreal,Aquatics,Diving,3m springboard,KÖHLER,Christa,Women,GDR,East Germany,W,Silver
1976.0,Montreal,Aquatics,Diving,3m springboard,KOSENKOV,Aleksandr,Men,URS,Soviet Union,M,Bronze
1976.0,Montreal,Aquatics,Diving,3m springboard,BOGGS,Philip George,Men,USA,United States,M,Gold
1976.0,Montreal,Aquatics,Diving,3m springboard,CAGNOTTO,Giorgio Franco,Men,ITA,Italy,M,Silver
1976.0,Montreal,Aquatics,Diving,10m platform,WILSON,Deborah Keplar,Women,USA,United States,W,Bronze
...,...,...,...,...,...,...,...,...,...,...,...
2008.0,Beijing,Wrestling,Wrestling Gre-R,66 - 74kg,GUENOT,Christophe,Men,FRA,France,M,Bronze
2008.0,Beijing,Wrestling,Wrestling Gre-R,66 - 74kg,KVIRKELIA,Manuchar,Men,GEO,Georgia,M,Gold
2008.0,Beijing,Wrestling,Wrestling Gre-R,55 - 60kg,RAHIMOV,Vitaliy,Men,AZE,Azerbaijan,M,Silver
2008.0,Beijing,Wrestling,Wrestling Gre-R,60 - 66kg,GUENOT,Steeve,Men,FRA,France,M,Gold
2008.0,Beijing,Wrestling,Wrestling Gre-R,96 - 120kg,LOPEZ,Mijain,Men,CUB,Cuba,M,Gold

Presentando la lista de paises de acuerdo a la cantidad de medallas ganadas.

In [139]:
df['Country'].value_counts()

United States    1081
Soviet Union      695
Australia         444
Italy             395
Germany           379
                 ...
Burundi             1
Lebanon             1
Cote d'Ivoire       1
Djibouti            1
Vietnam             1
Name: Country, Length: 122, dtype: int64

Aplicando esta mascara al DF luego se puede realizar la sumatoria de hombres por año que ganaron medallas.

In [131]:
df_men = df['Gender'] == 'Men'
df = df[df_men]
df

,City,Year,Sport,Discipline,Event,Apellido,Nombre,Gender,Country_Code,Country,Event_gender,Medal
1,Montreal,1976.0,Aquatics,Diving,3m springboard,KOSENKOV,Aleksandr,Men,URS,Soviet Union,M,Bronze
2,Montreal,1976.0,Aquatics,Diving,3m springboard,BOGGS,Philip George,Men,USA,United States,M,Gold
3,Montreal,1976.0,Aquatics,Diving,3m springboard,CAGNOTTO,Giorgio Franco,Men,ITA,Italy,M,Silver
5,Montreal,1976.0,Aquatics,Diving,10m platform,LOUGANIS,Gregory,Men,USA,United States,M,Silver
8,Montreal,1976.0,Aquatics,Diving,10m platform,DIBIASI,Klaus,Men,ITA,Italy,M,Gold
...,...,...,...,...,...,...,...,...,...,...,...,...
15428,Beijing,2008.0,Wrestling,Wrestling Gre-R,66 - 74kg,GUENOT,Christophe,Men,FRA,France,M,Bronze
15429,Beijing,2008.0,Wrestling,Wrestling Gre-R,66 - 74kg,KVIRKELIA,Manuchar,Men,GEO,Georgia,M,Gold
15430,Beijing,2008.0,Wrestling,Wrestling Gre-R,55 - 60kg,RAHIMOV,Vitaliy,Men,AZE,Azerbaijan,M,Silver
15431,Beijing,2008.0,Wrestling,Wrestling Gre-R,60 - 66kg,GUENOT,Steeve,Men,FRA,France,M,Gold
15432,Beijing,2008.0,Wrestling,Wrestling Gre-R,96 - 120kg,LOPEZ,Mijain,Men,CUB,Cuba,M,Gold

In [137]:
df[['Year', 'Gender']].value_counts()

Year    Gender
2000.0  Men       1126
2008.0  Men       1110
1992.0  Men       1105
2004.0  Men       1099
1996.0  Men       1082
1988.0  Men       1011
1984.0  Men        973
1980.0  Men        958
1976.0  Men        924
dtype: int64